.comedyHead{
    padding-left: 1rem;
    color: white;
}

.cards{
    display: flex;
    overflow-x: scroll;
}
.card{
    margin: 10px;
}
.cardImage{
    height: 20rem;
}
@media (max-width: 773px){
    .comedyHead{
        padding: 0.5rem;
        font-size: small;
    }
    .cardImage{
        height: 10rem;
    }
}